.vscode/
items_database.csv
updated_items.csv
new_items.csv
steam/
cs2crap/__pycache__/
cs2crap/analytics/__pycache__/
cs2crap/analytics/data/agents/
cs2crap/analytics/data/agents.csv
cs2crap/analytics/data/containers.csv
cs2crap/common/__pycache__/
cs2crap/csgomarket/__pycache__/
cs2crap/csgomarket/csgomarket_prices.csv
cs2crap/csgomarket/config.json
cs2crap/steam_bot/__pycache__/
cs2crap/steam_bot/config.json
cs2crap/telegram_bot/__pycache__/
cs2crap/telegram_bot/config.json
data/all_proxies.txt
data/proxies.txt
static/cs2crap_1x1.jpg
static/cs2crap.psd
cs2crap.egg-info